In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

In [27]:
movies = pd.read_csv("https://raw.githubusercontent.com/sidooms/MovieTweetings/master/latest/movies.dat",names=['IDMovies','NameMovies','Genres'], sep="::", engine='python')
ratings = pd.read_csv("https://raw.githubusercontent.com/sidooms/MovieTweetings/master/latest/ratings.dat",sep="::",names=['UserID','IDMovies','Rating','Timestamp'], engine='python')

In [28]:
movies.head()

,IDMovies,NameMovies,Genres
0,8,Edison Kinetoscopic Record of a Sneeze (1894),Documentary|Short
1,10,La sortie des usines Lumière (1895),Documentary|Short
2,12,The Arrival of a Train (1896),Documentary|Short
3,25,The Oxford and Cambridge University Boat Race ...,NaN
4,91,Le manoir du diable (1896),Short|Horror

In [29]:
ratings.head()

   UserID  IDMovies  Rating   Timestamp
0       1    114508       8  1381006850
1       2    499549       9  1376753198
2       2   1305591       8  1376742507
3       2   1428538       1  1371307089
4       3     75314       1  1595468524

In [30]:
df=pd.merge(ratings,movies,on='IDMovies')

In [31]:
df.head()

,UserID,IDMovies,Rating,Timestamp,NameMovies,Genres
0,1,114508,8,1381006850,Species (1995),Action|Horror|Sci-Fi|Thriller
1,2,499549,9,1376753198,Avatar (2009),Action|Adventure|Fantasy|Sci-Fi
2,2,1305591,8,1376742507,Mars Needs Moms (2011),Animation|Adventure|Family|Sci-Fi
3,2,1428538,1,1371307089,Hansel &amp; Gretel: Witch Hunters (2013),Action|Fantasy|Horror
4,3,75314,1,1595468524,Taxi Driver (1976),Crime|Drama